.grid-layout {
	padding: 50px 0;
	display: grid;
	max-width: 100%;
	margin: 0 auto;
	width: 95%;
	grid-auto-rows: 310px;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

	.pokemon-card {
		min-width: 180px;
		max-width: 400px;
		color: white;
		background-color: var(--card-bg);
		display: inline-block;
		cursor: pointer;
		border-radius: 8px;
		padding: 20px !important;

		&::before,
		&::after {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			transition: opacity .38s ease-in-out, transform .35s ease-in-out;
			content: '';
			opacity: 0;
			pointer-events: none;
		}

		&::before {
			transform: scale3d(0, 1, 1);
			transform-origin: left top;
			border-top: 1px solid #c7c7c7;
			border-bottom: 1px solid #c7c7c7;
			border-radius: 8px;
		}

		&::after {
			transform: scale3d(1, 0, 1);
			transform-origin: right top;
			border-right: 1px solid #c7c7c7;
			border-left: 1px solid #c7c7c7;
			border-radius: 8px;
		}

		&:hover,
		&:focus {
			&::before,
			&::after {
				transform: scale3d(1, 1, 1);
				opacity: 1;
			}
		}

		.mat-card-title {
			font-size: 18px;
			display: inline-flex;
			margin-top: 7px;
			margin-bottom: 30px;
		}

		.background-image {
			background-color: #e4e4e405;
			border-radius: 10px;

			.mat-card-image {
				margin-bottom: 0px;
			}
		}

		.id {
			padding: 3px 15px 3px 15px;
			border-radius: 8px;
			background-color: #389d67;
			position: absolute;
			top: -14px;
			left: 68px;
			z-index: 2;
			text-shadow: black 1px 1px 1px;
			color: var(--text-primary);
			font-size: 12px;
		}

		.mat-card-content {
			margin: 0;

			.types-container {
				.types {
					display: inline-flex;
					margin: 20px 10px 5px 0px;
					padding: 5px 10px;
					text-shadow: black 1px 1px 1px;
					border-radius: 10px;
					font-size: 12px;
				}
			}
		}
	}
}

.loading {
	text-align: center;
	margin: 15% 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: #673ab7;

	.mat-spinner {
		margin: 20px auto;
	}
}
