<div class="sign-in-container">
  <div class="inner-container">
    <img class="pokemon-logo" src="assets/logo.png">
    <div class="form-container">
      <div class="formGroup">
        <mat-form-field appearance="standard" floatLabel="always">
          <mat-label>E-mail</mat-label>
          <input matInput type="text" class="formControl" #userEmail required>
        </mat-form-field>
      </div>
      <div class="formGroup">
        <mat-form-field appearance="standard" floatLabel="always">
          <mat-label>Senha</mat-label>
          <input matInput type="password" class="formControl" #userPwd required>
        </mat-form-field>
      </div>
    </div>
    <div class="formGroup">
      <button type="button" class="btn-primary" (click)="authService.signUp(userEmail.value, userPwd.value)">
        <label>Registrar</label>
      </button>
    </div>
    <div class="formGroup">
      <span class="or"><span class="orInner">Ou</span></span>
    </div>
    <div class="formGroup">
      <button type="button" class="google-btn" (click)="authService.googleAuth()">
        <img src="assets/google-logo.png" alt="Login com google">
        <label>Continue com Google</label>
      </button>
    </div>
    <div class="footer">
      <div class="redirectToLogin">
        <span>Já tem uma conta?<a class="redirect" routerLink="/sign-in"> Login</a></span>
      </div>
    </div>
  </div>
</div>