<div class="sign-in-container">
  <div class="inner-container">
    <img class="pokemon-logo" src="assets/logo.png">
    <div class="form-container">
      <p class="reset-psw-text">Informe seu e-mail e clique em "Solicitar redefinição".</p>
      <div class="formGroup">
        <mat-form-field appearance="standard" floatLabel="always">
          <mat-label>E-mail</mat-label>
          <input matInput type="text" class="formControl" #passwordResetEmail required>
        </mat-form-field>
      </div>
    </div>
    <div class="formGroup">
      <button type="button" class="btn-primary" (click)="authService.forgotPassword(passwordResetEmail.value)">
        <label>Solicitar redefinição</label>
      </button>
    </div>
    <div class="footer">
      <div class="redirectToLogin">
        <span>Voltar para o<a class="redirect" routerLink="/sign-in"> Login</a></span>
      </div>
    </div>
  </div>
</div>