<div class="sign-in-container">
  <div class="inner-container">
    <img class="pokemon-logo" src="assets/images/logo.png">
    <div class="form-container">
      <div class="formGroup">
        <!-- <mat-form-field appearance="standard" floatLabel="always"> -->
        <!-- <mat-label>E-mail</mat-label> -->
        <div class="input-container">
          <input matInput type="text" class="formControl" placeholder="E-mail" #userName required>
        </div>
        <!-- </mat-form-field> -->
      </div>
      <div class="formGroup">
        <!-- <mat-form-field appearance="standard" floatLabel="always"> -->
        <!-- <mat-label>Senha</mat-label> -->
        <div class="input-container">
          <input matInput type="password" class="formControl" placeholder="Senha" #userPassword required>
        </div>
        <!-- </mat-form-field> -->
      </div>
    </div>
    <div class="formGroup">
      <div class="btn-outter">
        <button type="button" class="btn-primary" (click)="authService.signIn(userName.value, userPassword.value)">
          <span>Entrar</span>
        </button>
      </div>
    </div>
    <div class="formGroup">
      <span class="or"><span class="orInner">Ou</span></span>
    </div>
    <div class="formGroup">
      <button type="button" class="google-btn" (click)="authService.googleAuth()">
        <img src="assets/images/google-logo.png" alt="Login com google">
        <span>Login com Google</span>
      </button>
    </div>
    <div class="footer">
      <div class="forgotPassword">
        <span>Esqueceu sua senha? <a routerLink="/forgot-password">Clique aqui</a></span>
      </div>
      <div class="redirectToLogin">
        <span>Não tem uma conta?<a class="redirect" routerLink="/register-user"> Registre-se</a></span>
      </div>
    </div>
  </div>
</div>