<div class="sign-in-container">
  <div class="inner-container">
    <img class="pokemon-logo" src="assets/logo.png">
    <div class="form-container">
      <h3>Obrigado por registrar-se!</h3>
      <div class="formGroup" *ngIf="authService.userData as user">
        <p class="reset-psw-text">Enviamos um e-mail de confirmação para <strong>{{user.email}}</strong>.</p>
        <p class="reset-psw-text">Por favor, verifique seu e-mail e clique no link para verificar sua conta.</p>
      </div>
    </div>
    <div class="formGroup">
      <button type="button" class="btn-primary" (click)="authService.sendVerificationMail()">
        <label>Reenviar confirmação</label>
      </button>
    </div>
    <div class="footer">
      <div class="redirectToLogin">
        <span>Voltar para o<a class="redirect" routerLink="/sign-in"> Login</a></span>
      </div>
    </div>
  </div>
</div>